default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: <%= ENV.fetch('DATABASE_HOST') { 'localhost' } %>
  username: <%= ENV['DATABASE_USER'] %>
  port: <%= ENV['DATABASE_PORT'] %>
  password: <%= ENV["DATABASE_PASSWORD"] %>

development:
  <<: *default
  database: souz_development
test:
  <<: *default
  database: souz_test

production:
  <<: *default
  database: <%= ENV['DATABASE_NAME'] %>
  username: <%= ENV['DATABASE_USER'] %>
  port: <%= ENV['DATABASE_PORT'] %>
  host: <%= ENV['DATABASE_HOST'] %>
  password: <%= ENV["DATABASE_PASSWORD"] %>
